.button-container {
    background-color: var(--clr-blue-900);
    padding: 8px 10px;
    border-radius: 31px;
    font-size: 14px;
    position: relative;
    z-index: 1;
}

.button-container__button {
    display: inline-block;
    inline-size: 120px;
    padding-block: 16px;
    border-radius: 26.5px;
    border: none;
    background-color: transparent;
    color: var(--clr-blue-100);
    opacity: 0.4;
    font-weight: bold;
}

.button-container__button--active {
    color: var(--clr-blue-850);
    opacity: 1;
}

.button-container__button--active.red {
    background-color: var(--clr-red-400);
}

.button-container__button--active.cyan {
    background-color: var(--clr-cyan-300);
}

.button-container__button--active.magenta {
    background-color: var(--clr-magenta-400);
}

.button-container__button:hover:not(.button-container__button--active) {
    color: var(--clr-blue-100);
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 676px) {
    .button-container {
        display: flex;
        inline-size: 90%;
    }

    .button-container__button {
        font-size: 12px;
    }
}

.button-container:has(> [disabled]) {
    color: red;
}
