html {
    background-color: var(--clr-blue-850);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 410px;
    width: 95%;
    margin: 0 auto;
    font-family: var(--font-family-kumbh);
    gap: 36px;
    text-align: center;
}

button {
    background-color: transparent;
    border: none;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
}

.timer {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}

.timer button {
    background-color: transparent;
    border: none;
}

.timer button:hover path {
    color: var(--clr-blue-100);
    opacity: 1;
    cursor: pointer;
}

@media (max-width: 1092px) {
    body {
        justify-content: start;
        margin-block-start: 80px;
        gap: 108px;
    }
}

@media (max-width: 676px) {
    body {
        justify-content: start;
        margin-block-start: 32px;
        gap: 47px;
    }
}

.intro {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 5;
    perspective: 1000px;
    display: flex;
}

.intro__bit {
    height: 100%;
    width: 25%;
    background-color: rgb(190, 194, 244);
}

.intro__welcome-message {
    position: absolute;
    top: 50%;
    font-size: 5rem;
    left: 50%;
    transform: translate(-50%, -50%);
}
