:root {
    --clr-blue-100: rgb(215, 224, 255);
    --clr-blue-850: rgb(30, 33, 63);
    --clr-blue-900: rgb(22, 25, 50);
    --clr-red-400: rgb(248, 112, 112);

    --font-family-kumbh: "Kumbh Sans", sans-serif;
}
